<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<h2>My name is {{name}}</h2>
		<img class="portrait" src="/img/WIN_20200626_19_29_23_Pro.jpg" alt="">
		<br>

		Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptas explicabo dolorum reprehenderit, ut
		aperiam et dolores ad possimus alias pariatur accusamus architecto laudantium, illum consequatur blanditiis
		molestias necessitatibus officia
	</div>
	{{>footer}}
</body>

</html>